/* Secciones */
.section {
    padding: 5rem 2rem;
    text-align: center;
    background-color: #f3f2f2;

    &.alt {
        background-color: #fff;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #222;
    }
}
